# Day_018

### 練習時間
### HW : (Kaggle)鐵達尼生存預測
1. 試著執行作業程式，觀察三種類型 (int / float / object) 的欄位分別進行( 平均 mean / 最大值 Max / 相異值 nunique )  
中的九次操作會有那些問題? 並試著解釋那些發生Error的程式區塊的原因?
#### Ans：
 * 首先，由於資料格式為 Dataframe 且多個欄位，不可使用Max()，對於 3 種類型的資料欄位皆會出現 Error  
 * Object 類型的欄位由於本身並非數值型資料，因此計算欄位的 mean() 以及 Max() 數值皆無法測量而出現 Error

2. 思考一下，試著舉出今天五種類型以外的一種或多種資料類型，你舉出的新類型是否可以歸在三大類中的某些大類?  
所以三大類特徵中，哪一大類處理起來應該最複雜?
#### Ans：
 * 結構型特徵的資料，例如年齡、所得 → 數值型或類別型
 * 圖片資料 → 可以對圖片進行解析而轉成數值型資料

In [1]:
import pandas as pd
import numpy as np

In [2]:
# 設定 data_path
data_path = 'D:/Coding Project/GitHub/ML100-Days/data/Topic_2/'
df_train = pd.read_csv(data_path + 'titanic_train.csv')
df_test = pd.read_csv(data_path + 'titanic_test.csv')

In [3]:
df_train.shape

(891, 12)

In [4]:
# 重組資料成為訓練 / 預測用格式
train_Y = df_train['Survived']
ids = df_test['PassengerId']
df_train = df_train.drop(['PassengerId', 'Survived'] , axis=1)
df_test = df_test.drop(['PassengerId'] , axis=1)
df = pd.concat([df_train,df_test])
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
# 秀出資料欄位的類型與數量
dtype_df = df.dtypes.reset_index() # 重置 index 值
dtype_df.columns = ["Count", "Column Type"]
dtype_df = dtype_df.groupby("Column Type").aggregate('count').reset_index()
dtype_df

  Column Type  Count
0       int64      3
1     float64      2
2      object      5

In [6]:
#確定只有 int64, float64, object 三種類型後, 分別將欄位名稱存於三個 list 中
int_features = []
float_features = []
object_features = []
for dtype, feature in zip(df.dtypes, df.columns):
    if dtype == 'float64':
        float_features.append(feature)
    elif dtype == 'int64':
        int_features.append(feature)
    else:
        object_features.append(feature)
print(f'{len(int_features)} Integer Features : {int_features}\n')
print(f'{len(float_features)} Float Features : {float_features}\n')
print(f'{len(object_features)} Object Features : {object_features}')

3 Integer Features : ['Pclass', 'SibSp', 'Parch']

2 Float Features : ['Age', 'Fare']

5 Object Features : ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

### 分別進行( 平均 mean / 最大值 Max / 相異值 nunique )

In [7]:
print("----Column_Mean----")
print(df[int_features].mean())
print("----Type_Count----")
print(df[int_features].nunique())
df[int_features].Max()

----Column_Mean----
Pclass    2.294882
SibSp     0.498854
Parch     0.385027
dtype: float64
----Type_Count----
Pclass    3
SibSp     7
Parch     8
dtype: int64

AttributeError: 'DataFrame' object has no attribute 'Max'

In [8]:
print("----Column_Mean----")
print(df[float_features].mean())
print("----Type_Count----")
print(df[float_features].nunique())
df[float_features].Max()

----Column_Mean----
Age     29.881138
Fare    33.295479
dtype: float64
----Type_Count----
Age      98
Fare    281
dtype: int64

AttributeError: 'DataFrame' object has no attribute 'Max'

In [9]:
print("----Column_Mean----")
print(df[object_features].mean())
print("----Type_Count----")
print(df[object_features].nunique())
df[object_features].Max()

----Column_Mean----
Series([], dtype: float64)
----Type_Count----
Name        1307
Sex            2
Ticket       929
Cabin        186
Embarked       3
dtype: int64

AttributeError: 'DataFrame' object has no attribute 'Max'